.extra {
    background-image: linear-gradient(rgba(0, 0, 0, 0.568), rgba(0, 0, 0, 0.603)), url('../../../public/assets/happy-customer-banner.8c5ebf3a.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}